.header{
    background-color: #003580;
    margin-left: 12%;
    margin-right: 12%;
    padding: 20px 7%;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 36px;
}

.header2{
    background-color: #003580;
    margin-left: 12%;
    margin-right: 12%;
    padding: 40px 7% 15px;
}

.header_logo{
    float: left;
    color: white;
    font-family: Georgia;
    font-weight: bolder;
    font-size: 30px;
}

.header_user-action{
    float: right;
    height: 36px;
}

.header_user-action, .header_logo{
    display: inline-block;
}

.list-property-button{
    height: 36px;
    border-color: white;
    background-color: #003580;
    color: white;
    font-family: Georgia;
    font-size: 14px;
}

.register-login{
    height: 36px;
    color: #003580;
    font-family: Georgia;
    font-size: 14px;
}

#p1{
    font-family: Tahoma;
    font-size: 36px;
    font-weight: bolder;
    color: white;
    margin-bottom: 0px;
}

#p2{
    font-family: Tahoma;
    font-size: 24px;
    margin-top: 0px;
    color: white;
}

.search_outer-div{
    background: linear-gradient(to bottom, #003580 0%, #003580 50%, white 50%, white 100%);
    margin-left: 12%;
    margin-right: 12%;
    height: 60px;
    padding-right: 7%;
    padding-left: 7%;
    position: sticky;
    top: 76px;
    z-index: 10;
}

#search_inner-div{
    width: 100%;
    background-color: #feba02;
    border-radius: 5px;
    height: 60px;
    padding-left: 4px;
    padding-right: 4px;
    display: flex;

}

::placeholder{
    color: dimgray;
}

#search_input-1, #search_input-3{
    width: 29%;
    border: none;
    margin: auto;
    height: 50px;
    background-color: white;
    color: #2B2730;
    font-family: Georgia;
    font-size: 14px;
    padding-left: 20px;
    box-sizing: border-box;
}

#search_input-2{
    width: 29%;
    margin: auto;
    height: 50px;
    position: relative;
    display: flex;
}

.drop-button{
    width: 100%;
    height: 50px;
    background-color: white;
    border: none;
    color: dimgray;
    font-size: 14px;
    font-family: Georgia;
    text-align: left;
    padding-left: 15px;
}

#search_button{
    width: 10%;
    background-color: #009fe3;
    color: white;
    height: 50px;
    margin: auto;
    border: none;

    font-family: Georgia;
    font-size: 14px;
}

.search_dropdown{
    display: none;
    position: absolute;
    background-color: white;
    border-color: #003580;
    width: 70%;
    box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
    z-index: 10;
    font-size: 14px;
    color: #2B2730;
    padding: 10px 10px 10px 20px;
    margin-top: 65px;
    font-family: Georgia;
}

#time, #duration{
    background-color: white;
    border-width: 1px;
    border-color: dimgray;
    text-align: center;
    color: dimgray;
    box-sizing: border-box;
    width: 90px;
    float: right;
}

.show {display:block;}

.empty-line{
    box-shadow:  8px 8px 8px 8px rgba(0,0,0,0.2);
    font-size: 3px;
    text-align: center;
    color: white;
    margin: 100px 19%;
    background-color: #003580;
    border-radius: 2px;
    height: 5px;
    line-height:5px;
}

.cities{
    margin-right: 19%;
    margin-left: 19%;
    display: flex;
    margin-bottom: 9px;
}

.cities-2{
    margin-right: 19%;
    margin-left: 19%;
    display: flex;
}

.p{
    margin-right: 19%;
    margin-left: 19%;
    font-family: Tahoma;
    font-size: 24px;
    color: #2B2730;
    font-weight: bolder;
    margin-bottom: 30px;
}


.city-images{
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.city1{
    width: 32%;
    margin: auto;
    display: inline-block;
    overflow: hidden;
}

.city1-description{
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    font-size: 16px;
    font-family: Georgia;
    z-index: 1;
    font-weight: bolder;
}

.city1 img{
    transition: transform .5s ease;
}

.city1:hover img{
    transform: scale(1.1);
}


.rec-table{
    width: 62%;
    margin-left: 19%;
    margin-right: 19%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
}


.rec-bath{
    display: flex;
    width: 100%;
}

.bath-img{
    display: inline-block;
    margin: auto;
    width: 26%;
    height: 180px;
}
.bath-img img{
    height: 180px;
    width: 100%;
    border-radius: 8px  ;
}

.bath-description{
    display: inline-block;
    margin: auto;
    height: 180px;
    background-color: #feba02;
    width: 48%;
}

.bath-rating{
    display: inline-block;
    margin: auto;
    height: 180px;
    background-color: #003580;
    width: 22%;
}