<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>
        BathhouseBooking | Book your health | BathhouseBooking.com
    </title>
    <link rel="shortcut icon" href="images/sauna.png" type="image/png">
    <link rel="stylesheet" href="css/home.css">
    <script src="js/my-scripts.js"></script>
</head>
<body>
    <div class = "header">
        <div class = "header_logo">
                BathhouseBooking.com
        </div>
        <div class = "header_user-action">
            <button class ="list-property-button" type="button"> List your property </button>
            &nbsp
            <button class="register-login" type="button"> Register </button>
            &nbsp
            <button class="register-login" type="button"> Sign in </button>
        </div>
    </div>
    <div class="header2">
        <br><br><br><br>
        <p id="p1"> Find your bathhouse </p>
        <p id="p2"> Set search parameters </p>
    </div>
    <div class="search_outer-div">
        <form id="search_inner-div" autocomplete="off">
            <input id="search_input-1" list="cities" placeholder="City"
                   pattern="Shieli|Qyzylorda|Almaty|Nur-Sultan|Shymkent|Taraz"
                   title='Please select from list'/>
            <datalist id="cities">
                <option value="Shieli">
                <option value="Qyzylorda">
                <option value="Almaty">
                <option value="Nur-Sultan">
                <option value="Shymkent">
                <option value="Taraz">
            </datalist>



            <div id="search_input-2">
                <button type="button" class="drop-button" onclick="myFunction('search_dropdown1')">Time and duration</button>

                <div id="search_dropdown1" class="search_dropdown">
                    <label for="time">Time</label>
                    <input id="time" type="time" step="3600" min="12:00" max="23:00" title="Opening hours : 12:00 - 23:00"/>
                    <br>
                    <br>
                    <label for="duration">Duration</label>
                    <input id="duration" type="number" min="1" max="3" title="Maximum duration : 3 hours"/>
                </div>
            </div>




            <input id="search_input-3"  list="cabin-types" placeholder="Cabin capacity"
                   pattern="Small|Medium|Big"
                   title='Please select from list'/>
            <datalist id="cabin-types">
                <option value="Small">
                    <span> For 2 people </span>
                </option>
                <option value="Medium">
                    <span> For 3 people </span>
                </option>
                <option value="Big">
                    <span> For 4 people </span>
                </option>
            </datalist>
            <button form="search_inner-div" type="submit" id="search_button"> Search</button>
        </form>
    </div>

    &nbsp&nbsp<p class="p">Browse by cities</p>
    <div class="cities">
        <div class="city1">
            <div class="city1-description">
                <p> Almaty </p>
                <p th:text="${countOfBathhouses.get(0)} + ' properties'"/>
            </div>
            <a href="/" >
                <img class="city-images" src="images/almaty.jpg" alt="Almaty">
            </a>
        </div>
        <div class="city1">
            <div class="city1-description">
                <p> Shieli </p>
                <p th:text="${countOfBathhouses.get(1)} + ' properties'"/>
            </div>
            <a href="/" >
                <img class="city-images" src="images/shieli.jpeg" alt="Shieli">
            </a>
        </div>
        <div class="city1">
            <div class="city1-description">
                <p> Nursultan </p>
                <p th:text="${countOfBathhouses.get(2)} + ' properties'"/>
            </div>
            <a href="/" >
                <img class="city-images" src="images/astana.jpg" alt="Astana">
            </a>
        </div>
    </div>
    <div class="cities-2">
            <div class="city1">
                <div class="city1-description">
                    <p> Shymkent </p>
                    <p th:text="${countOfBathhouses.get(3)} + ' properties'"/>
                </div>
                <a href="/" >
                    <img class="city-images" src="images/shymkent.jpg" alt="Almaty">
                </a>
            </div>
            <div class="city1">
                <div class="city1-description">
                    <p> Qyzylorda </p>
                    <p th:text="${countOfBathhouses.get(4)} + ' properties'"/>
                </div>
                <a href="/" >
                    <img class="city-images" src="images/qyzylorda.jpg" alt="Qyzylorda">
                </a>
            </div>
            <div class="city1">
                <div class="city1-description">
                    <p> Taraz </p>
                    <p th:text="${countOfBathhouses.get(5)} + ' properties'"/>
                </div>
                <a href="/" >
                    <img class="city-images" src="images/taraz.jpg" alt="Taraz">
                </a>
            </div>
    </div>
    <br><br><br>
    &nbsp&nbsp<p class="p2">These popular destinations have a lot to offer</p>

    <table class="rec-table" th:each="bath : ${recommendedBathhouses}">
        <tr>
            <td>
                <div class="rec-bath">
                    <div class="bath-img">
                        <img th:src="${bath.image}" alt="bath-image">
                    </div>
                    <div class="bath-description">
                        <p id="des-name" th:text="${bath.name}"/>
                        <p id="des-location" th:text="${bath.city} + ', ' + ${bath.address}"/>
                        <p id="des-description" th:text="${bath.description}"/>
                        <a  style="color: #2B2730" th:href="'tel:' + ${bath.phone_number}">
                            <p id="des-phone" th:text="'Phone number : ' + ${bath.phone_number}"/>
                        </a>

                    </div>

                    <div class="bath-rating">
                        <p id="rating-t">Rating</p>
                        <p id="rating-n" th:text="${bath.rating}"></p>
                        <button type="button" id="rating-b"
                                th:attr="onclick='myFunction(\'' + ${#ids.next('book_drop_id')}+  '\');'">Book now</button>

                    </div>
                </div>
            </td>
        </tr>
        <div id="empty_div"></div>
        <div th:id="${#ids.seq('book_drop_id')}"  th:class="${#ids.seq('book_drop_class')}">
            <div style="margin-top: 40px; font-size: 14px; margin-left: 30px; display: block;
                 padding-left: 230px">
                <img src="/images/red.jpg" alt="red" style="width: 16px; height: 16px"/>
                &nbsp;Booked&nbsp;&nbsp;&nbsp;
                <img src="/images/blue.png" alt="blue" style="width: 16px; height: 16px"/>
                &nbsp;Available
                <br>
            </div>
            <div style="display: flex" th:each="cabin: ${bath.cabins}">
                <div style="display: inline-block; font-size: 14px;
                        margin-left: 53px; margin-top: 10px; padding-left: 10px; width: 150px  ;
                        border: 1px solid lightgray; margin-bottom: 15px"
                >
                    <p th:text="'Cabin number:  '+ ${cabin.id}"/>
                    <p th:text="'Cabin type:  '+ ${cabin.capacity}"/>
                    <p th:text="'Price per hours:  '+ ${cabin.price}"/>
                </div>
                <div style="margin-left: 43px; margin-top: 10px; display: inline-block; width : 500px;
                        height: 50px;  margin-bottom: 15px"
                >
                    <div style=" display: inline-block; "
                        th:each="isbooked : ${(cabin.schedule).isBooked}"
                    >
                        <button type="button"
                            th:attr="style=' margin-right: 5px; margin-bottom: 5px; margin-top: 2px; height: 30px;   width: 100px; border: none; color: white; font-size: 11px; background-color: ' + ${isbooked? 'red; pointer-events: none' : '#009fe3; cursor: pointer'}">
                            A
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </table>
</body>
</html>