<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My bathhouses</title>
    <style>
        #header {
            background-color: #1e3a8a;
            padding-top: 13px;
            padding-left: 22%;
            font-family: Tahoma;
            font-weight: bolder;
            color: white;
            font-size: 22px;
            width: 78%;
            z-index: 1;
            top: 0;
            height: 45px;
        }

        #header button {
            height: 36px;
            color: #003580;
            margin-left: 42%;
            font-family: Georgia;
            font-size: 14px;
        }

        #user-page-navigation {
            border: 1px solid lightgray;
            border-radius: 4px;
            padding: 20px;
            width: 130px;
            margin-top: 100px;
            margin-left: 22%;
            font-family: Tahoma;
            font-size: 16px;
            float: left;
        }

        #user-page-navigation a {
            text-decoration: none;
            color: #2B2730;
        }

        #user-page-navigation a:hover {
            color: #009fe3;
        }

        #user-page-bathhouses {
            margin-top: 100px;
            padding-top: 0;
            width: 600px;
            float: left;
        }

        .user-page-baths {
            margin-top: 30px;
            margin-left: 10%;
            font-family: Tahoma;
            font-size: 16px;
            width: 500px;
            padding-left: 15px;
            padding-bottom: 15px;

            padding-top: 15px;
            border: 1px solid lightgray;
            border-radius: 4px;
        }

        #button {
            font-family: Tahoma;
            font-size: 16px;
            margin-top: 20px;
            margin-left: 10%;
        }

        .foo {
            height: 12px;
            width: 18px;
        }

        .add-bath-dropdown {
            margin-left: 10%;
            border: 1px solid lightgray;
            border-radius: 4px;
            padding-left: 15px;
            padding-bottom: 15px;
            padding-top: 15px;
            width: 500px;
        }

    </style>
</head>
<body>
<div id="header">
    <a href="/" style="text-decoration: none; color: white"> BathhouseBooking.com </a>
    <button type="button" onclick="window.location.href='/logout'">Sign out</button>
</div>
<br><br>
<div id="user-page-navigation">
    <a href="/user-page"> Back </a><br><br>
    <hr>
    <br>
    <a href="/user-page/personal-details"> Personal details </a><br><br>
    <hr>
    <br>
    <a href="/user-page/my-bookings"> My bookings </a><br><br>
    <hr>
    <br>
    <a href="/user-page/my-bathhouses?cabin_number=0"> My bathhouses </a><br><br>
    <hr>
    <br>
    <a href="#"> Security </a>
</div>
<div id="user-page-bathhouses">
    <p style="margin-left: 10%;
font-size: 32px;
font-family: Tahoma;
margin-top: 0;
margin-bottom: 0;
font-weight: bolder">My bathhouses</p>
    <p style="margin-left: 10%;
font-size: 16px;
margin-top: 5px;
font-family: Tahoma;
color: darkslategray">Add your property or edit bathhouse details</p>
    <div class="user-page-baths" th:if="${bathhouses.isEmpty()}">
        <p>You have no bathhouses</p>
    </div>

    <div th:unless="${bathhouses.isEmpty()}">

        <div th:each="bath: ${bathhouses}">

            <div class="user-page-baths">

                <form th:object="${__${bathhouse+bathStat.index}__}" th:action="@{/user-page/update-bathhouse} "
                      method="post" enctype="multipart/form-data">
                    <table>
                        <tr>
                            <td><label for="name">Name</label></td>
                            <td class="foo"></td>
                            <td><input id="name" type="text" th:field="*{name}"></td>
                        </tr>
                        <tr>
                            <td class="foo"></td>
                        </tr>
                        <tr>
                            <td><label for="city">City</label></td>
                            <td class="foo"></td>
                            <td>
                                <input id="city" list="cities" type="text" th:field="*{city}"
                                       pattern="Shieli|Qyzylorda|Almaty|Nur-Sultan|Shymkent|Taraz"
                                       title='Please select from list'
                                />
                                <datalist id="cities">
                                    <option value="Shieli">
                                    <option value="Qyzylorda">
                                    <option value="Almaty">
                                    <option value="Nur-Sultan">
                                    <option value="Shymkent">
                                    <option value="Taraz">
                                </datalist>
                            </td>
                        </tr>
                        <tr>
                            <td class="foo"></td>
                        </tr>
                        <tr>
                            <td><label for="address">Address</label></td>
                            <td class="foo"></td>
                            <td><textarea id="address" rows="2" cols="45" th:field="*{address}"/></td>
                        </tr>
                        <tr>
                            <td class="foo"></td>
                        </tr>
                        <tr>
                            <td><label for="phone">Phone number</label></td>
                            <td class="foo"></td>
                            <td><input id="phone" type="text" th:field="*{phone_number}"></td>
                        </tr>
                        <tr>
                            <td class="foo"></td>
                        </tr>
                        <tr>
                            <td><label for="description">Description</label></td>
                            <td class="foo"></td>
                            <td><textarea id="description" rows="5" cols="45" th:field="*{description}"/></td>
                        </tr>
                        <tr>
                            <td class="foo"></td>
                        </tr>
                        <tr>
                            <td><label>Image</label></td>
                            <td class="foo"></td>
                            <td>
                                <img style="max-width: 100%; height: 150px" th:src="*{image}" alt="bath-image">
                                <input type="hidden" th:field="*{image}">
                            </td>
                        </tr>
                        <tr>
                            <td><label>New image</label></td>
                            <td class="foo"></td>
                            <td>
                                <input type="file" accept="/image/*" name="updatedimage">
                            </td>
                        </tr>
                        <tr>
                            <td class="foo"></td>
                        </tr>
                        <tr style="height: 20px">
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <button style="height: 36px; background-color: #003580; border: none; width: 70px;
                                                color: white; font-size: 14px; font-family: Tahoma"
                                        type="submit">Update
                                </button>
                            </td>
                        </tr>

                    </table>
                </form>
            </div>

        </div>

    </div>
    <br><br>
    <hr>
    <br><br>

    <p style="margin-left: 10%;
font-size: 32px;
font-family: Tahoma;
margin-top: 0;
margin-bottom: 0;
font-weight: bolder">Add new property</p>
    <p style="margin-left: 10%;
font-size: 16px;
margin-top: 5px;
font-family: Tahoma;
color: darkslategray">First, you have to specify the number of cabins in your bath</p>

    <div th:with="num=${#request.getParameter('cabin_number')}">
        <form style="margin-left: 10%; margin-top: 30px; margin-bottom: 30px" method="get"
              th:action="@{/user-page/my-bathhouses}" th:object="${cabins}">
            <label for="cabin-number">Cabin number</label>
            <input id="cabin-number" type="text" th:field="*{cabin_number}"/>
            <button type="submit">Submit</button>
        </form>

        <div th:attr="style='display : ' + ${(num == '0') ? 'none;' : 'block;'}" id="add-bath-dropdown"
             class="add-bath-dropdown">
            <form th:object="${cabins}" th:action="@{/user-page/add-bathhouse}" method="post" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td><label for="newname">Name</label></td>
                        <td class="foo"></td>
                        <td><input id="newname" type="text" th:field="*{bathhouse.name}"></td>
                    </tr>
                    <tr>
                        <td class="foo"></td>
                    </tr>
                    <tr>
                        <td><label for="newcity">City</label></td>
                        <td class="foo"></td>
                        <td>
                            <input id="newcity" list="cities2" type="text" th:field="*{bathhouse.city}"
                                   pattern="Shieli|Qyzylorda|Almaty|Nur-Sultan|Shymkent|Taraz"
                                   title='Please select from list'
                            />
                            <datalist id="cities2">
                                <option value="Shieli">
                                <option value="Qyzylorda">
                                <option value="Almaty">
                                <option value="Nur-Sultan">
                                <option value="Shymkent">
                                <option value="Taraz">
                            </datalist>
                        </td>
                    </tr>
                    <tr>
                        <td class="foo"></td>
                    </tr>
                    <tr>
                        <td><label for="newaddress">Address</label></td>
                        <td class="foo"></td>
                        <td><textarea id="newaddress" rows="2" cols="45" th:field="*{bathhouse.address}"/></td>
                    </tr>
                    <tr>
                        <td class="foo"></td>
                    </tr>
                    <tr>
                        <td><label for="newphone">Phone number</label></td>
                        <td class="foo"></td>
                        <td><input id="newphone" type="text" th:field="*{bathhouse.phone_number}"></td>
                    </tr>
                    <tr>
                        <td class="foo"></td>
                    </tr>
                    <tr>
                        <td><label for="newdescription">Description</label></td>
                        <td class="foo"></td>
                        <td><textarea id="newdescription" rows="5" cols="45" th:field="*{bathhouse.description}"/></td>
                    </tr>
                    <tr>
                        <td class="foo"></td>
                    </tr>
                    <tr>
                        <td><label for="rating"> Rating </label></td>
                        <td class="foo"></td>
                        <td><input id="rating" type="text" th:field="*{bathhouse.rating}"></td>
                    </tr>
                    <tr>
                        <td class="foo"></td>
                    </tr>
                    <tr>
                        <td><label for="newimage">Image</label></td>
                        <td class="foo"></td>
                        <td><input id="newimage" type="file" accept="image/*" name="newimage"/></td>
                    </tr>
                    <tr style="height: 30px">
                        <td colspan="3"></td>
                    </tr>
                    <tr th:each="cab : ${cabins.cabins}">

                        <table>
                            <tr>
                                <p th:text="${#ids.seq('Cabin #')}"/>
                            </tr>
                            <tr>
                                <td style="width: 100px"><label> Cabin type </label></td>
                                <td class="foo"></td>
                                <td>
                                    <input list="cabin-types" th:field="*{cabins[__${cabStat.index}__].capacity}"
                                           placeholder="Cabin type"
                                           pattern="Small|Medium|Big"
                                           title='Please select from list'/>
                                    <datalist id="cabin-types">
                                        <option value="Small">
                                            <span> For 2 people </span>
                                        </option>
                                        <option value="Medium">
                                            <span> For 3 people </span>
                                        </option>
                                        <option value="Big">
                                            <span> For 4 people </span>
                                        </option>
                                    </datalist>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100px"><label>Price per hour</label></td>
                                <td class="foo"></td>
                                <td><input type="text" th:field="*{cabins[__${cabStat.index}__].price}"></td>
                            </tr>

                            <tr style="height: 30px">
                                <td colspan="3"></td>
                            </tr>
                        </table>
                    </tr>

                    <tr>
                        <td>
                            <button style="height: 36px; background-color: #003580; border: none; width: 70px;
                                    color: white; font-size: 14px; font-family: Tahoma"
                                    type="submit">Add
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>