<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BathhouseBooking.com</title>
  <link rel="stylesheet" href="css/user-page.css">
  <script src="js/my-scripts.js"></script>
</head>
<body class="h-screen">
<div class="header">
    <a href="/" style="text-decoration: none; color: white"> BathhouseBooking.com </a>
    <button type="button" onclick="window.location.href='/logout'">Sign out</button>
</div>
<br><br>
<p style="margin-left: 22%;
font-size: 32px;
font-family: Tahoma;
margin-bottom: 0;
font-weight: bolder">Account details</p>
<p style="margin-left: 22%;
font-size: 16px;
margin-top: 5px;
font-family: Tahoma;
color: darkslategray">Manage your booking experience</p>
<table id="table">
    <tr>
        <td>
            <div class="setting-container" onclick="window.location.href='/user-page/personal-details'">
                <p style="
font-size: 16px;
font-family: Tahoma;
margin-bottom: 0;
font-weight: bolder">Personal details</p>
                <p style="font-size: 13px;
font-family: Tahoma;
    margin-bottom: 0">Update your info and find out how it's used.</p>
                <p style="
font-size: 13px;
font-family: Tahoma;
color: #1974D1;
margin-bottom: 0">Manage personal details</p>
            </div>
        </td>
        <td style="width: 18px"></td>
        <td>
            <div class="setting-container" onclick="window.location.href='#'">
                <p style="
font-size: 16px;
font-family: Tahoma;
margin-bottom: 0;
font-weight: bolder">My bookings</p>
                <p style="font-size: 13px;
font-family: Tahoma;
margin-bottom: 0">Get your actual bookings and history</p>
                <p style="
font-size: 13px;
font-family: Tahoma;
color: #1974D1;
margin-bottom: 0">Manage booking details</p>
            </div>
        </td>
    </tr>
    <tr><td style="width: 18px; height: 18px"></td></tr>
    <tr>
        <td>
            <div class="setting-container" onclick="window.location.href='#'">
                <p style="
font-size: 16px;
font-family: Tahoma;
margin-bottom: 0;
font-weight: bolder">My bathhouses</p>
                <p style="font-size: 13px;
font-family: Tahoma;
margin-bottom: 0">Edit your bathhouse details.</p>
                <p style="
font-size: 13px;
font-family: Tahoma;
color: #1974D1;
margin-bottom: 0">Manage bathhouse details</p>
            </div>
        </td>
        <td style="width: 18px"></td>
        <td>
            <div class="setting-container" onclick="window.location.href='#'">
                <p style="
font-size: 16px;
font-family: Tahoma;
margin-bottom: 0;
font-weight: bolder">Security</p>
                <p style="font-size: 13px;
font-family: Tahoma;
margin-bottom: 0">Adjust your security settings</p>
                <p style="
font-size: 13px;
font-family: Tahoma;
color: #1974D1;
margin-bottom: 0">Manage account security</p>
            </div>
        </td>
    </tr>
</table>
</body>
</html>